@import '_colors.scss';
@import 'selectize.css';

.weglot__choice__language{
	border-bottom:1px solid #eee;
	margin:5px 0px;
	&--english{
		border-width:50px;
		color:#757575;
		display:block;
	}
}

.btn{
	background:$primary;
	display: inline-block;
    padding: 8px 10px;
    border-radius: 4px;
    transition: .2s background linear,.2s color linear,.2s border linear,.2s text-shadow linear;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
	white-space: nowrap;
	color:white;
	border:1px solid $primary;
	&.btn-soft{
		background-color: #fff;
		color:$textColor;
		border-color:#eaeaea;

	}
	&.btn-primary{
		&:active,
		&:focus,
		&:hover{
			border-color: $primaryHover;
			background-color: $primaryHover;
		}
	}

}

.js-btn-remove{
	border: none;
    background-color: #ed6657;
    color: #fff;
    display: inline-block;
	width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
	transform: translateY(-5%);
	margin-left:10px;
    transition: opacity 175ms linear;
    outline: 0;
}

.item-exclude{
	position: relative;
	margin-bottom: 10px;
}

input[type='text'],textarea {
	&:focus {
		border-color: $primaryHover;
		box-shadow: none;
	}
}

::-webkit-input-placeholder {
	color: #C0C0C0;
}
:-moz-placeholder { /* Firefox 18- */
	color: #C0C0C0;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #C0C0C0;
}
:-ms-input-placeholder {
	color: #C0C0C0;
}

.sub-label {
	font-size: 13px;
	font-weight: normal;
	margin: 2px 0 0;
}

.original-select,#type_flags {
	padding: 8px;
	height: 36px!important;
	width: 300px;
}
#type_flags {
	width: 150px;
}

.selectize-control.multi .selectize-input > div {
	background-color : #eff0ff;
}

input[type="text"],.wg-input-textarea {
	padding:8px;
}

.selectize-control, input[type="text"],.wg-input-textarea {
	width : 100%;
	max-width: 300px;
}

#submit {
	height: 50px;
	padding: 0 30px!important;
	font-size: 16px;
}

.description {
	display: inline-block;
}

.wg-tooltip {
	position : absolute;
	display:none;
}
.wg-infobox {
	position: relative;
	color: #3741cc;
	font-weight: bold;
}
.wg-infobox:hover .wg-tooltip {
	line-height: 1.4;
	position: absolute;
	top: 27px;
	display: block;
	background-color: #24292d;
	width: 160px;
	padding: 10px;
	color: white;
	font-weight: normal;
	border: 1px solid #e0e0e0;
	font-size: 12px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #24292d;
	position: absolute;
	top: -10px;
	left: 36px;
}