@import '_colors.scss';
@import 'selectize.css';

.weglot__choice__language{
	border-bottom:1px solid #eee;
	margin:5px 0px;
	&--english{
		border-width:50px;
		color:#757575;
		display:block;
	}
}

.btn{
	background:$primary;
	display: inline-block;
    padding: 8px 10px;
    border-radius: 4px;
    transition: .2s background linear,.2s color linear,.2s border linear,.2s text-shadow linear;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
	white-space: nowrap;
	color:white;
	border:1px solid $primary;
	&.btn-soft{
		background-color: #fff;
		color:$textColor;
		border-color:#eaeaea;

	}
	&.btn-primary{
		&:active,
		&:focus,
		&:hover{
			border-color: $primaryHover;
			background-color: $primaryHover;
		}
	}

}

.js-btn-remove{
	border: none;
    background-color: #ed6657;
    color: #fff;
    display: inline-block;
	width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
	transform: translateY(-5%);
	margin-left:10px;
    transition: opacity 175ms linear;
    outline: 0;
}

.item-exclude{
	position: relative;
	margin-bottom: 10px;
}

input[type='text'] {
	&:focus {
		border-color: $primaryHover;
		box-shadow: none;
	}
}

::-webkit-input-placeholder {
	color: #C0C0C0;
}
:-moz-placeholder { /* Firefox 18- */
	color: #C0C0C0;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #C0C0C0;
}
:-ms-input-placeholder {
	color: #C0C0C0;
}

.sub-label {
	font-size: 13px;
	font-weight: normal;
	margin: 2px 0 0;
}

.original-select {
	padding: 8px;
	height: 36px!important;
	width: 300px;
}

.selectize-control.multi .selectize-input > div {
	background-color : #eff0ff;
}

input[type="text"] {
	padding:8px;
}

.selectize-control, input[type="text"] {
	width : 100%;
	max-width: 300px;
}

#submit {
	height: 50px;
	padding: 0 30px!important;
	font-size: 16px;
}